@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}


html, body {
    background-color: #101010;
}

.center {
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 55%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;
}
#enter-site {
    text-decoration: none;
}
#click-to-enter-text {
    font-weight: 400;
    font-size: 12px;

    color: grey;

    transition-duration: 0.3s;
    cursor: pointer;
}
#click-to-enter-text:hover {
    color: #f5b342;
    transition-duration: 0.3s;
}

#yes {
    color: white;
}